body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  padding-top: 5rem;
  margin: 0 auto;
  width: 600px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0.5rem;
  border: 1px solid rgb(216, 196, 196);
  border-radius: 0.5rem;
  margin: 12px;
}
li:hover {
  background-color: rgb(237, 237, 237);
}
input {
  margin: 0 0.85rem;
}
.crossButton {
  background-color: rgb(48, 46, 46);
  border: none;
  color: white;
  margin: 0.5rem;
  border-radius: 3px;
}
.crossButton:hover {
  background-color: rgb(173, 35, 63);
}
.done {
  text-decoration: line-through;
}
